<div>
  <ejs-heatmap id='container' #heatmap style="display:block;" [xAxis]='xAxis'
               [yAxis]='yAxis' [cellSettings]='cellSettings' [legendSettings]='legendSettings' [dataSource]='dataSource' [paletteSettings]='paletteSettings'
               (load)='load($event)' width="900px">
  </ejs-heatmap>
</div>
<!--<div>
  <ejs-chart style='display:block' align='center' id='chartcontainer' [title]='title' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
             [tooltip]='tooltip' (load)='load($event)' [chartArea]='chartArea' [width]='width'>
    <e-series-collection>
      <e-series [dataSource]='data' type='Line' xName='x' yName='y' name='Germany' width=2 [marker]='marker'> </e-series>
      <e-series [dataSource]='data1' type='Line' xName='x' yName='y' name='England' width=2 [marker]='marker'> </e-series>
    </e-series-collection>
  </ejs-chart>
</div>-->
