<form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-11">
                <mat-form-field>
                  <input type="text" placeholder="Country" matInput [formControl]="country" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let country of filteredOptions | async" [value]="country">
                      {{country}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-1">
                <a class="btn btn-success" (click)="calculate()"><fa-icon [icon]="['fas','calculator']"></fa-icon></a>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <mat-form-field>
                  <mat-label>Product</mat-label>
                  <mat-select [formControl]="product">
                    <mat-option *ngFor="let product of products" [value]="product">
                      {{product}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col-3">
                <mat-form-field>
                  <mat-label>Year</mat-label>
                  <mat-select [formControl]="year">
                    <mat-option *ngFor="let year of years" [value]="year">
                      {{year}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col-3">
                <mat-form-field>
                  <mat-label>Investment Value</mat-label>
                  <input matInput [formControl]="investmentValue" type="number" />
                </mat-form-field>

              </div>
              <div class="col-1">
                <a class="btn btn-info" (click)="add()"><fa-icon [icon]="['far','plus-square']"></fa-icon></a>
              </div>
            </div>
            <div class="row" *ngFor="let row of portfolio; index as i">
              <div class="col-5">
                {{row.product}}
              </div>
              <div class="col-3">
                {{row.year}}
              </div>
              <div class="col-3">
                {{row.investmentValue}}
              </div>
              <div class="col-1">
                <a class="btn btn-danger" (click)="remove(i)"><fa-icon [icon]="['fas','trash']"></fa-icon></a>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card [hidden]="isHidden">
          <mat-card-title>{{this.country.value}}</mat-card-title>
          <mat-card-content>
            <app-map-projection></app-map-projection>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-5">
        <ejs-maps id='maps' #maps style="display:block;" [zoomSettings]='zoomSettings' [legendSettings]="legendSettings" [titleSettings]="titleSettings"
                  (load)="load($event)" (tooltipRender)="tooltipRender($event)" >
          <e-layers>
            <e-layer [shapeData]='layer.shapeData' [shapePropertyPath]='layer.shapePropertyPath' [shapeDataPath]='layer.shapeDataPath' [dataSource]='dataSource' [tooltipSettings]="layer.tooltipSettings" [shapeSettings]="shapeSettings"></e-layer>
          </e-layers>
        </ejs-maps>
      </div>
      <div class="col-1">
        <mat-slider [min]="minYear" [max]="maxYear" step="1" (input)="changeSelectedYear($event)" [value]="selectedYear" vertical></mat-slider>
      </div>
      </div>
    </div>
</form>
